*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.clearfix::after{
    content:'';
    display: block;
    clear: both;
}
body {
    font: 16px/1.5 Arial;
    color: #444;
}
.button{
    display: inline-block;
    height: 60px;
    width: 200px;
    background: #f7ba3e;
    color: #fff;
    font-size: 20px;
    border-radius: 3px;
    padding: 10px;
    vertical-align: middle; 
    opacity: 0.8;  
}
.button::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.button:hover {
    opacity: 1;
}
.layout{
    width: 1200px;
    margin:0 auto;
}
.icon {
    width: 200px;
    margin:15px auto;
}
.icon li{
    float: left;
    width: 33.33%;
}
.icon a {
    color: #fff;
    background: #212121;
    border-radius: 50%;
    padding:10px;
}
.icon a:hover {
    background: #FDD03B;    
}
.icon .iconfont {
    font-size: 22px;