section {
    text-align: center;
    margin-top: 100px;
}
section>h2{
    font-size: 47px;
    font-weight: bold;
}
section>h3 {
    margin-top: 15px;
    font-size:16px;
    color: #767676;
}
#services li {
    /* display: inline-block; */
    width: 33.33%;
    float: left;
    padding: 10px 20px;
}
#services li>h3 {
    margin:16px auto;
}
#services .iconfont {
    font-size: 60px;
    /* background: #FDD03B; */
    color:#fff;
    display: inline-block;
    /* width: 100px; */
    /* height: 100px; */
    vertical-align: middle;
}
#services .circle-bg{
    width: 100px;
    height: 100px;
    background: #FDD03B;
    border-radius: 50%;
    display: inline-block;
}
#services .circle-bg::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}


#services>ul {
    margin-top: 60px;
}

#portfolio figure {
    float:left;
    width:33.33%;
    padding:40px;
    background: #f6f6f6;
}
#portfolio figure img{
    width:100%;
    height: 100%;
}

#portfolio figure a {
    position: relative;
    display: block;
}
#portfolio figure a:hover .cover{
    display: block;
}
#portfolio .cover{
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom :0;
    background:rgba(252,207,64,0.9);
    /* z-index: 2; */
    display: none;
}
#portfolio figure .icon-plus {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    /* z-index: 200; */
    color: #fff;
    font-size: 60px;
    opacity: 0.9;
}
#portfolio figure figcaption {
    font-size: 20px;
    font-weight: bold;
}
#portfolio figure p {
    font-style: italic;
}
#portfolio .wrap {
    margin-top:50px;
}

section .timeline>li:after {
    content: '';
    display: block;
    clear: both;
}

/*nth-child加在li上最好*/
section .timeline li:nth-child(odd) img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid lightblue;
    float: right;
}

section .timeline>li:nth-child(odd) {
    padding-right: calc(50% - 75px);
    text-align: right;
    margin-top: 100px;
    padding-left: 100px;
}
section .timeline li:nth-child(odd) .timeline-info{
    margin-right: 170px;
}

section .timeline li:nth-child(even) img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid lightblue;
    float: left;
}
section .timeline>li:nth-child(even) {
    padding-left: calc(50% - 75px);
    text-align: left;
    margin-top: 100px;
    padding-right: 100px;
}
section .timeline li:nth-child(even) .timeline-info{
    margin-left: 170px;
}
section .timeline li::before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 110px;
    background: lightblue;
    position: absolute;
    left:50%;
    top:150px;
}
section .timeline li{
    position: relative;
}
section .timeline .img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid lightblue;
    float: right;
    text-align: center;
    padding:30px;
    font-weight: bold;
    font-size: 18px;
    color:#fff;
    background: #FDD03B;
}
section .timeline li:last-child::before {
    height:0;
}

section .team{
    margin-top: 70px;
}
section .team>li {
    float:left;
    width:33.33%;
}
section .team>li img {
    border-radius: 50%;
    border: 4px solid lightblue;
}
section:nth-child(4) {
    background: #F5F5F5;
    padding: 20px;
}

section .team h4 {
    font-size: 18px;
    margin-top: 10px;
}
section #end {
    margin:30px auto;
    width:800px;
    color: #7E7A8B;
}

footer .other-link li {
    float:left;
    width: 25%;
    text-align: center;
    margin-top:100px;
}

footer .input-content ul{
    float:left;
    width: calc(50% - 20px) ;
}
footer .contact {
    background: #000 url(http://book.jirengu.com/jirengu-inc/jrg-tehui/homework/%E8%8B%A5%E6%84%9A/16/img/map-image.png);
    min-width:600px;
    padding: 80px 0;
}
footer .input-content ul input{
    width: 100%;
    height: 60px;
    margin:10px; 
    /* border-radius: 3px; */
}
footer .input-content textarea {
    width: calc(50% - 20px);
    float: right;
    height: 220px;
    margin-top:10px;
}
footer .input-content {
    width: 1100px;
    margin: 60px auto 30px auto;
}
footer .input-content input, textarea {
    border-radius: 10px;
    border: 2px solid #0f0f0f;
    padding: 10px;
}
footer .input-content input:focus, textarea:focus {
    outline: none;
}
footer input::placeholder, textarea::placeholder {
    color: #212121; 
}
footer .contact h2 {
    color: #fff;
}
.copyright p {
    float: left;
    margin-top:20px;
}
.copyright .policy {
    float: right;
    margin-top: 20px;
}
.copyright .policy a {
    float: left;
    color: #FDD03B;
    margin-left: 10px;
}
.copyright .policy a {
    float: left;
    color: #FDD03B;
    margin-left: 10px;
}
.copyright .policy a:hover {
    text-decoration: underline;
}
.contact {
    margin-top:20px;
}
